* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

ul li {
    list-style: none;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;

    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    border: 2px solid #000000;
    border-radius: 10%;
}

.products li:hover {
    border-color: #C78C19;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(assets/imagens/bg.jpg);
    padding: 40px;
}

footer p {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px 15px;
}

#checkbox {
    margin: 20px 0;
}

fieldset {
    border: none;
}

.send {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all;
}

.send:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS INDEX */

.banner {
    width: 100%;
}

.title-center {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.main p {
    margin: 0 0 1em;
}

.map {
    padding: 3em 0;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.image-gift {
    width: 60%;
}

.video {
    width: 560px;
    margin: 1em auto;
}